@model GuildChannelModel

<nav class="mr-2">
    <div class="flex flex-none flex-col bg-gray-400 dark:bg-gray-700 rounded max-w-20">
        <div class="py-2 pl-2 font-medium">Server Settings</div>
        <a class="py-2 pl-4 hover:bg-gray-500 active:bg-pink-900 text-sm @(Model.Section == "_CoreSettings" ? "bg-gray-500 border-l-2 border-pink-500" : "")" href="/manage/@Model.Guild.Id">Core</a>
        <a class="py-2 pl-4 hover:bg-gray-500 active:bg-pink-900 text-sm @(Model.Section == "_CurrencySettings" ? "bg-gray-500 border-l-2 border-pink-500" : "")" href="/manage/@Model.Guild.Id/currency">Currency</a>
        <a class="py-2 pl-4 hover:bg-gray-500 active:bg-pink-900 text-sm @(Model.Section == "_XpSettings" ? "bg-gray-500 border-l-2 border-pink-500" : "")" href="/manage/@Model.Guild.Id/xp">Experience</a>
        <a class="py-2 pl-4 hover:bg-gray-500 active:bg-pink-900 text-sm @(Model.Section == "_GambleSettings" ? "bg-gray-500 border-l-2 border-pink-500" : "")" href="/manage/@Model.Guild.Id/gamble">Gambling</a>
        <a class="py-2 pl-4 hover:bg-gray-500 active:bg-pink-900 text-sm @(Model.Section == "_GameSettings" ? "bg-gray-500 border-l-2 border-pink-500" : "")" href="/manage/@Model.Guild.Id/games">Games</a>

        @if (Model.Channels.Count != 0)
        {
            <div class="py-2 pl-2 font-medium">Channel Settings</div>
            @foreach (ChannelSummary channel in Model.Channels)
            {
                if (Model.ChannelId == channel.Id)
                {
                    <a class="py-2 px-4 hover:bg-gray-500 bg-gray-500 active:bg-pink-900 border-l-2 border-pink-500 text-sm truncate" href="/manage/@Model.Guild.Id/@channel.Id">#@channel.Name</a>
                }
                else
                {
                    <a class="py-2 px-4 hover:bg-gray-500 active:bg-pink-900 text-sm truncate" href="/manage/@Model.Guild.Id/@channel.Id">#@channel.Name</a>
                }
            }
        }
        <div class="py-2 pl-2 font-medium">Commands</div>
        <a class="py-2 pl-4 rounded-b hover:bg-gray-500 text-sm" href="#">Command Stuff</a>
    </div>
</nav>