@model GuildChannelModel

@{
    ViewData["Title"] = Model.GuildConfig.Guild.Name + " - Manage Server";
}

<div class="container w-full lg:max-w-6xl mx-auto pt-4 dark:text-white mb-12">
<div class="flex items-center">
    @if (string.IsNullOrWhiteSpace(Model.GuildConfig.Guild.Icon))
    {
        <img class="w-10 rounded-full" src="https://ui-avatars.com/api/?name=@Model.GuildConfig.Guild.Name" alt="=@Model.GuildConfig.Guild.Name">
    }
    else
    {
        <img class="w-10 rounded-full" src="https://cdn.discordapp.com/icons/@Model.GuildConfig.GuildId/@Model.GuildConfig.Guild.Icon" alt="=@Model.GuildConfig.Guild.Name">
    }
    <h1 class="pl-4 text-2xl font-medium tracking-tight">@Model.GuildConfig.Guild.Name - Manage</h1>
</div>
<div class="flex">
<div class="w-80">
    @await Html.PartialAsync("_GuildNav", Model)
</div>
<div class="w-full ml-4">
<form id="form-data" onchange="checkForm(coreData, 'core')" onsubmit="return false;">
<div class="settings container" id="core">
    <h1 class="text-3xl font-medium tracking-tight pt-4">Core Settings</h1>
    <div class="sm:block" aria-hidden="true">
        <div class="py-4">
            <div class="border-t border-gray-200"></div>
        </div>
    </div>
    <div class="rounded-md overflow-hidden bg-grey-100 dark:bg-gray-900 px-4 py-4">
        <div>
            <label for="prefix" class="block text-sm font-medium dark:text-gray-200">Prefix</label>
            <input type="text" id="prefix" name="prefix" value="@Model.GuildConfig.Prefix" class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 mt-1 flex rounded-md block w-20 font-mono" maxlength="5" placeholder="." required>
        </div>
        <div class="mt-4 flex justify-between">
            <label class="block text-sm font-medium dark:text-gray-200">Default Message Logging Behavior</label>
            <label for="guild-logging" class="cursor-pointer mr-2">
                <div class="relative">
                    <input id="guild-logging" type="checkbox" class="hidden" name="guild-logging" @(Model.GuildConfig.Logging ? "checked" : "")>
                    <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
                    <div class="toggle -top-1 -left-1 transition duration-300 ease-in-out absolute w-6 h-6 bg-white rounded-full inset-y-0 left-0"></div>
                </div>
            </label>
        </div>
        <div class="mt-4 flex justify-between">
            <label class="block text-sm font-medium dark:text-gray-200">Default Currency Generation</label>
            <label for="guild-curr-gen" class="cursor-pointer mr-2">
                <div class="relative">
                    <input id="guild-curr-gen" type="checkbox" class="hidden" name="guild-curr" @(Model.GuildConfig.CurrencyGen ? "checked" : "")>
                    <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
                    <div class="toggle -top-1 -left-1 transition duration-300 ease-in-out absolute w-6 h-6 bg-white rounded-full inset-y-0 left-0"></div>
                </div>
            </label>
        </div>
        <div class="mt-4 flex justify-between">
            <label class="block text-sm font-medium dark:text-gray-200">Default XP Gain</label>
            <label for="guild-xp" class="cursor-pointer mr-2">
                <div class="relative">
                    <input id="guild-xp" type="checkbox" class="hidden" name="guild-xp" @(Model.GuildConfig.XpGain ? "checked" : "")>
                    <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
                    <div class="toggle -top-1 -left-1 transition duration-300 ease-in-out absolute w-6 h-6 bg-white rounded-full inset-y-0 left-0"></div>
                </div>
            </label>
        </div>
        <div class="mt-4 flex justify-between">
            <label class="block text-sm font-medium dark:text-gray-200">Show Help on Command Error</label>
            <label for="guild-show-help" class="cursor-pointer mr-2">
                <div class="relative">
                    <input id="guild-show-help" type="checkbox" class="hidden" name="guild-show-help" @(Model.GuildConfig.ShowHelpOnError ? "checked" : "")>
                    <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
                    <div class="toggle -top-1 -left-1 transition duration-300 ease-in-out absolute w-6 h-6 bg-white rounded-full inset-y-0 left-0"></div>
                </div>
            </label>
        </div>
    </div>
</div>
<div class="settings container" id="currency">
    <h1 class="text-3xl font-medium tracking-tight pt-4">Currency Settings</h1>
    <div class="hidden sm:block" aria-hidden="true">
        <div class="py-4">
            <div class="border-t border-gray-200"></div>
        </div>
    </div>
    <div class="rounded-md overflow-hidden bg-grey-100 dark:bg-gray-900 px-4 py-4">
        <div class="flex space-x-12">
            <div class="rounded-md">
                <label for="guild_curr_name" class="block text-sm font-medium dark:text-gray-200">Currency Name</label>
                <div class="mt-1 flex rounded-md">
                    <input type="text" name="guild_curr_name" id="guild_curr_name" value="@Model.GuildConfig.CurrencyName" maxlength="50" required class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 rounded-md border block w-32 text-sm">
                </div>
            </div>
            <div class="rounded-md">
                <label for="guild_curr_name_p" class="block text-sm font-medium dark:text-gray-200">Plural Name</label>
                <div class="mt-1 flex rounded-md">
                    <input type="text" name="guild_curr_name_p" id="guild_curr_name_p" value="@Model.GuildConfig.CurrencyNamePlural" maxlength="50" required class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 border rounded-md block w-32 text-sm">
                </div>
            </div>
        </div>
        <div class="mt-2 rounded-md">
            <label for="guild_curr_icon" class="block text-sm font-medium dark:text-gray-200">Icon</label>
            <div class="mt-1 flex rounded-md">
                @* TODO get image *@
                <input type="text" name="guild_curr_icon" id="guild_curr_icon" value="@Model.GuildConfig.CurrencyIcon" maxlength="54" required class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 border rounded-md block w-32 text-sm font-mono">
            </div>
        </div>
        <div class="mt-4 rounded-md">
            <label for="guild_curr_prob" class="block text-sm font-medium dark:text-gray-200">Generation Probability</label>
            <div class="mt-1 flex rounded-md">
                <input type="number" name="guild_curr_prob" id="guild_curr_prob" value="@(Model.GuildConfig.CurrencyGenerationChance * 100)" required class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 border block w-20 rounded-none rounded-l-md text-sm z-2">
                <span class="dark:border-gray-800 dark:bg-gray-700 inline-flex items-center px-3 border border-l-0 rounded-r-md text-sm z-0">%</span>
            </div>
        </div>
        <div class="mt-4 rounded-md">
            <label for="guild_curr_cd" class="block text-sm font-medium dark:text-gray-200">Generation Cooldown</label>
            <div class="mt-1 flex rounded-md">
                <input type="number" name="guild_curr_cd" id="guild_curr_cd" value="@Model.GuildConfig.CurrencyGenerationCooldown" min="0" max="3600" required class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 border block w-20 rounded-none rounded-l-md text-sm z-2">
                <span class="dark:border-gray-800 dark:bg-gray-700 inline-flex items-center px-3 border border-l-0 rounded-r-md text-sm z-0">sec</span>
            </div>
        </div>
        <div class="flex space-x-12 mt-4">
            <div class="rounded-md">
                <label for="guild_curr_drop" class="block text-sm font-medium dark:text-gray-200">Drop Minimum</label>
                <div class="mt-1 flex rounded-md">
                    <input type="number" name="guild_curr_drop" id="guild_curr_drop" value="@Model.GuildConfig.CurrencyDropAmount" min="1" required class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 rounded-md border block w-20 text-sm">
                </div>
            </div>
            <div class="rounded-md">
                <label for="guild_curr_drop_max" class="block text-sm font-medium dark:text-gray-200">Drop Maximum</label>
                <div class="mt-1 flex rounded-md">
                    <input type="number" name="guild_curr_drop_max" id="guild_curr_drop_max" value="@Model.GuildConfig.CurrencyDropAmountMax" min="1" required class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 rounded-md border block w-20 text-sm">
                </div>
            </div>
            <div class="rounded-md">
                <label for="guild_curr_drop_rare" class="block text-sm font-medium dark:text-gray-200">Drop Rare</label>
                <div class="mt-1 flex rounded-md">
                    <input type="number" name="guild_curr_drop_rare" id="guild_curr_drop_rare" value="@Model.GuildConfig.CurrencyDropAmountRare" min="1" required class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 rounded-md border block w-20 text-sm">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="settings container" id="xp">
    <h1 class="text-3xl font-medium tracking-tight pt-4">Experience Settings</h1>
    <div class="hidden sm:block" aria-hidden="true">
        <div class="py-4">
            <div class="border-t border-gray-200"></div>
        </div>
    </div>
    <div class="rounded-md overflow-hidden bg-grey-100 dark:bg-gray-900 px-4 py-4">
        <div class="rounded-md">
            <label for="guild_xp_pm" class="block text-sm font-medium dark:text-gray-200">XP Per Message</label>
            <div class="mt-1 flex rounded-md">
                <input type="number" name="guild_xp_pm" id="guild_xp_pm" value="@Model.GuildConfig.XpPerMessage" min="0" required class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 rounded-md border block w-20 text-sm">
            </div>
        </div>
        <div class="mt-4 rounded-md">
            <label for="guild_xp_cd" class="block text-sm font-medium dark:text-gray-200">XP Cooldown</label>
            <div class="mt-1 flex rounded-md">
                <input type="number" name="guild_xp_cd" id="guild_xp_cd" value="@Model.GuildConfig.XpCooldown" min="1" max="3600" required class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 border block w-20 rounded-none rounded-l-md text-sm z-2">
                <span class="dark:border-gray-800 dark:bg-gray-700 inline-flex items-center px-3 border border-l-0 rounded-r-md text-sm z-0">sec</span>
            </div>
        </div>
        <div class="mt-4 rounded-md">
            <label for="guild_xp_cd_fast" class="block text-sm font-medium dark:text-gray-200">XP Fast Cooldown</label>
            <div class="mt-1 flex rounded-md">
                <input type="number" name="guild_xp_cd_fast" id="guild_xp_cd_fast" value="@Model.GuildConfig.XpFastCooldown" min="1" max="3600" required class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 border block w-20 rounded-none rounded-l-md text-sm z-2">
                <span class="dark:border-gray-800 dark:bg-gray-700 inline-flex items-center px-3 border border-l-0 rounded-r-md text-sm z-0">sec</span>
            </div>
        </div>
    </div>
</div>
<div class="settings container" id="games">
    <h1 class="text-3xl font-medium tracking-tight pt-4">Games Settings</h1>
    <div class="hidden sm:block" aria-hidden="true">
        <div class="py-4">
            <div class="border-t border-gray-200"></div>
        </div>
    </div>
    <div class="rounded-md overflow-hidden bg-grey-100 dark:bg-gray-900 px-4 py-4">
        <h1 class="text-xl font-normal tracking-tight">Jeopardy</h1>
        <div class="rounded-md mt-4">
            <label for="guild_jeopardy_mult" class="block text-sm font-medium dark:text-gray-200">Win Payout</label>
            <div class="mt-1 flex rounded-md">
                <input type="number" name="guild_jeopardy_mult" id="guild_jeopardy_mult" value="@Model.GuildConfig.JeopardyWinMultiplier.ToString("N2")" min="0.01" max="1" step="0.01" required class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 border block w-20 rounded-none rounded-l-md text-sm z-2">
                <span class="dark:border-gray-800 dark:bg-gray-700 inline-flex items-center px-3 border border-l-0 rounded-r-md text-sm z-0">×</span>
            </div>
        </div>
        <h1 class="text-xl font-normal tracking-tight mt-4">Trivia</h1>
        <div class="rounded-md mt-4">
            <label for="guild_trivia_min" class="block text-sm font-medium dark:text-gray-200">Minimum Correct</label>
            <div class="mt-1 flex rounded-md">
                <input type="number" name="guild_trivia_min" id="guild_trivia_min" value="@(Model.GuildConfig.TriviaMinCorrect * 100)" min="1" required class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 border block w-20 rounded-none rounded-l-md text-sm z-2">
                <span class="dark:border-gray-800 dark:bg-gray-700 inline-flex items-center px-3 border border-l-0 rounded-r-md text-sm z-0">%</span>
            </div>
        </div>
        <div class="flex flex-wrap mt-4">
            <div class="rounded-md mr-8">
                <label for="guild_trivia_easy" class="block text-sm font-medium dark:text-gray-200">Easy Reward</label>
                <div class="mt-1 flex rounded-md">
                    <input type="number" name="guild_trivia_easy" id="guild_trivia_easy" value="@Model.GuildConfig.TriviaEasy" min="1" required class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 rounded-md border block w-20 text-sm">
                </div>
            </div>
            <div class="rounded-md mr-8">
                <label for="guild_trivia_med" class="block text-sm font-medium dark:text-gray-200">Medium Reward</label>
                <div class="mt-1 flex rounded-md">
                    <input type="number" name="guild_trivia_med" id="guild_trivia_med" value="@Model.GuildConfig.TriviaMedium" min="1" required class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 rounded-md border block w-20 text-sm">
                </div>
            </div>
            <div class="rounded-md">
                <label for="guild_trivia_hard" class="block text-sm font-medium dark:text-gray-200">Hard Reward</label>
                <div class="mt-1 flex rounded-md">
                    <input type="number" name="guild_trivia_hard" id="guild_trivia_hard" value="@Model.GuildConfig.TriviaHard" min="1" required class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 rounded-md border block w-20 text-sm">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="settings container mb-16" id="gambling">
    <h1 class="text-3xl font-medium tracking-tight pt-4">Gambling Settings</h1>
    <div class="hidden sm:block" aria-hidden="true">
        <div class="py-4">
            <div class="border-t border-gray-200"></div>
        </div>
    </div>
    <div class="rounded-md overflow-hidden bg-grey-100 dark:bg-gray-900 px-4 py-4">
        <h1 class="text-xl font-normal tracking-tight">Bet Flip</h1>
        <div class="flex flex-wrap mt-4">
            <div class="rounded-md mr-8">
                <label for="guild_bf_min" class="block text-sm font-medium dark:text-gray-200">Minimum Bet</label>
                <div class="mt-1 flex rounded-md">
                    <input type="number" name="guild_bf_min" id="guild_bf_min" value="@Model.GuildConfig.BetFlipMin" min="1" required class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 rounded-md border block w-32 text-sm">
                </div>
            </div>
            <div class="rounded-md">
                <label for="guild_bf_mult" class="block text-sm font-medium dark:text-gray-200">Payout Multiplier</label>
                <div class="mt-1 flex rounded-md">
                    <input type="number" name="guild_bf_mult" id="guild_bf_mult" value="@Model.GuildConfig.BetFlipMultiplier" min="1.01" step="0.01" required class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 border block w-20 rounded-none rounded-l-md text-sm z-2">
                    <span class="dark:border-gray-800 dark:bg-gray-700 inline-flex items-center px-3 border border-l-0 rounded-r-md text-sm z-0">×</span>
                </div>
            </div>
        </div>
        <h1 class="text-xl font-normal tracking-tight mt-4">Bet Flip Multi</h1>
        <div class="flex flex-wrap mt-4">
            <div class="rounded-md mr-8">
                <label for="guild_bfm_min" class="block text-sm font-medium dark:text-gray-200">Minimum Guesses</label>
                <div class="mt-1 flex rounded-md">
                    <input type="number" name="guild_bfm_min" id="guild_bfm_min" value="@Model.GuildConfig.BetFlipMMinGuesses" min="2" required class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 rounded-md border block w-32 text-sm">
                </div>
            </div>
            <div class="rounded-md mr-8">
                <label for="guild_bfm_min_correct" class="block text-sm font-medium dark:text-gray-200">Minimum Correct</label>
                <div class="mt-1 flex rounded-md">
                    <input type="number" name="guild_bfm_min_correct" id="guild_bfm_min_correct" value="@(Model.GuildConfig.BetFlipMMinCorrect * 100)" min="1" required class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 border block w-20 rounded-none rounded-l-md text-sm z-2">
                    <span class="dark:border-gray-800 dark:bg-gray-700 inline-flex items-center px-3 border border-l-0 rounded-r-md text-sm z-0">%</span>
                </div>
            </div>
            <div class="rounded-md">
                <label for="guild_bfm_mult" class="block text-sm font-medium dark:text-gray-200">Payout Multiplier</label>
                <div class="mt-1 flex rounded-md">
                    <input type="number" name="guild_bfm_mult" id="guild_bfm_mult" value="@Model.GuildConfig.BetFlipMMultiplier" min="1.1" step="0.1" required class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 border block w-20 rounded-none rounded-l-md text-sm z-2">
                    <span class="dark:border-gray-800 dark:bg-gray-700 inline-flex items-center px-3 border border-l-0 rounded-r-md text-sm z-0">×</span>
                </div>
            </div>
        </div>
        <h1 class="text-xl font-normal tracking-tight mt-4">Bet Dice (6d6)</h1>
        <div class="rounded-md mt-4">
            <label for="guild_bd_min" class="block text-sm font-medium dark:text-gray-200">Minimum Bet</label>
            <div class="mt-1 flex rounded-md">
                <input type="number" name="guild_bd_min" id="guild_bd_min" value="@Model.GuildConfig.BetDiceMin" min="1" required class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 rounded-md border block w-20 text-sm">
            </div>
        </div>
        <h1 class="text-xl font-normal tracking-tight mt-4">Bet Roll (1d100)</h1>
        <div class="rounded-md mt-4">
            <label for="guild_br_min" class="block text-sm font-medium dark:text-gray-200">Minimum Bet</label>
            <div class="mt-1 flex rounded-md">
                <input type="number" name="guild_br_min" id="guild_br_min" value="@Model.GuildConfig.BetRollMin" min="1" required class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 rounded-md border block w-20 text-sm">
            </div>
        </div>
        <div class="flex flex-wrap mt-4">
            <div class="rounded-md mr-8">
                <label for="guild_br_71" class="block text-sm font-medium dark:text-gray-200">≥ 71</label>
                <div class="mt-1 flex rounded-md">
                    <input type="number" name="guild_br_71" id="guild_br_71" value="@Model.GuildConfig.BetRoll71Multiplier" min="1" step="0.1" required class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 border block w-20 rounded-none rounded-l-md text-sm z-2">
                    <span class="dark:border-gray-800 dark:bg-gray-700 inline-flex items-center px-3 border border-l-0 rounded-r-md text-sm z-0">×</span>
                </div>
            </div>
            <div class="rounded-md mr-8">
                <label for="guild_br_92" class="block text-sm font-medium dark:text-gray-200">≥ 92</label>
                <div class="mt-1 flex rounded-md">
                    <input type="number" name="guild_br_92" id="guild_br_92" value="@Model.GuildConfig.BetRoll92Multiplier" min="1" step="0.1" required class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 border block w-20 rounded-none rounded-l-md text-sm z-2">
                    <span class="dark:border-gray-800 dark:bg-gray-700 inline-flex items-center px-3 border border-l-0 rounded-r-md text-sm z-0">×</span>
                </div>
            </div>
            <div class="rounded-md">
                <label for="guild_br_100" class="block text-sm font-medium dark:text-gray-200">= 100</label>
                <div class="mt-1 flex rounded-md">
                    <input type="number" name="guild_br_100" id="guild_br_100" value="@Model.GuildConfig.BetRoll100Multiplier" min="1.1" step="0.1" required class="dark:bg-gray-700 dark:focus:ring-pink-900 dark:focus:border-pink-900 dark:border-gray-800 border block w-20 rounded-none rounded-l-md text-sm z-2">
                    <span class="dark:border-gray-800 dark:bg-gray-700 inline-flex items-center px-3 border border-l-0 rounded-r-md text-sm z-0">×</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block fixed inset-x-0 -bottom-16 z-10 transition ease-in-out" id="save-modal" onclick="">
    <div class="flex justify-center">
        <div class="bg-gray-600 w-1/3 p-2 rounded shadow-md bg-opacity-95">
            <div class="flex justify-between items-center">
                <div class="pl-2">
                    You have unsaved changes
                </div>
                <button id="save" class="rounded dark:bg-pink-800 focus:outline-none dark:hover:bg-pink-900 dark:focus:ring-pink-600 py-1.5 px-3" onclick="console.log('pressed')">Save</button>
            </div>
        </div>
    </div>
</div>
</form>
</div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<script>
    const sections = document.querySelectorAll(".settings");
    const nav = document.querySelectorAll(".nav-settings");
    
    window.addEventListener("load", () => {
        nav.forEach(remove => {
            if (remove.classList.contains(window.location.hash.substr(1))) {
                remove.classList.add("sidenav-active");
            } else {
                remove.classList.remove("sidenav-active");
            }
        });
        if (window.location.hash === ""){
            document.getElementById("core-nav").classList.add("sidenav-active");
        }
    });
    window.addEventListener("scroll", () => {
        let current = "";
        sections.forEach(section => {
            const sectionTop = section.offsetTop;
            const sectionHeight = section.clientHeight;
            if (pageYOffset >= (sectionTop - sectionHeight / 2)) {
                current = section.getAttribute("id");
            }
        });
        nav.forEach(n => {
            if (n.classList.contains(current)) {
                n.classList.add("sidenav-active");
            } else {
                n.classList.remove("sidenav-active");
            }
        });
    });
    nav.forEach(n => {
        n.addEventListener("click", () => {
            nav.forEach(remove => {
                if (remove.classList.contains(n.getAttribute("href").substr(1))) {
                    remove.classList.add("sidenav-active");
                } else {
                    remove.classList.remove("sidenav-active");
                }
            });
        });
    });
    
    // enable/disable save button when there are changes detected
    const coreForm = document.getElementById("form-data");
    let coreData = Object.fromEntries(new FormData(coreForm).entries());
    const save = document.getElementById("save-modal");
    
    function checkForm() {
        const newData = Object.fromEntries(new FormData(document.getElementById("form-data")).entries());
        if (_.isEqual(coreData, newData)) {
            save.classList.add("transform", "translate-y-20");
            save.classList.remove("transform", "-translate-y-20");
        } else {
            save.classList.remove("transform", "translate-y-20");
            save.classList.add("transform", "-translate-y-20");
        } 
    }
    
    coreForm.addEventListener("keyup", () => checkForm(coreData, "core"));
    
    // function sendCoreSettings(id) {
    //     const data = Object.fromEntries(new FormData(document.getElementById("form-data-" + id)).entries());
    //     fetch(`/manage/@Model.GuildConfig.GuildId/${id}`, {
    //         method: "POST",
    //         headers: {
    //             "Content-Type": "application/json"
    //         },
    //         body: JSON.stringify(data)
    //     })
    //         .then(res => {
    //             if (res.status === 200) {
    //                 coreData = Object.fromEntries(new FormData(coreForm).entries());
    //                 document.getElementById("save-form-" + id).disabled = true;
    //             }
    //         })
    //         .catch(err => {
    //             console.log("Error: " + err);
    //         });
    // }
</script>